<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<h1>Upload File</h1>
		<form th:action="@{/upload}" method="POST" class="form-signin" enctype="multipart/form-data">
			<input type="file"
				id="file" name="file[]" class="form-control" /> <br /> 
			<button class="btn btn-lg btn-primary btn-block" name="Submit"  type="Submit" th:text="Upload"></button>
		</form>
	</div>
</body>
</html>